.titulo {
    background-color: #EF1E0E;
    font-family: sans-serif;
    color: #FFF;
    text-align: center;
    padding: 0px;
}

.imagem_terminal {
    margin-top: 0px;
    margin-left: 230px;
    margin-bottom: 0px;
}

.imagem_terminal img {
    width: 700px;
}

figcaption {
    font-size: 12px;
}

.lista_manipulando {
    font-size: 18px;
    font-style: italic;
    font-family: 'Lucida Bright', Georgia, serif;
    margin-left: 20px;
    margin-right: 200px;
}

.guia b {
    color: white;
}

.guiaHome {
    font-size: 20px;
}

.guiaMenu {
    font-size: 70%;
    color: black;
    background-color: #EF1E0E;
}

.container {}

#referencias {
    font-size: 15px;
}


/* IDs */

#listaDiretorios {
    background-color: goldenrod;
    margin-right: 400px;
    padding: 50px;
}